body{
  background: #000 repeat 0 0;
  background-image: var(--image);
}
html, body { height: 100%; }
.middle-text{
  text-align:center;
  width:100%;
  margin-top:25%;
  margin-bottom:25%;
  background-color:rgba(12,62,6,0.3);
  border-bottom: solid rgba(167, 12, 23, 0.9) 10px;
  transition:5s;
  border-bottom-right-radius: 80px;
  border-bottom-left-radius: 80px;
  border-top-right-radius: 30px;
  border-top-left-radius: 60px;
}
.middle-text:hover{
  text-align:center;
  width:50%;
  margin:25%;
  background-color:rgba(12,62,6,0.8);
  border-bottom: solid rgba(167, 12, 23, 0.9) 20px;
  border-bottom: solid rgba(167, 12, 23, 0.9) 20px;
  transition:0.4s;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 55px;
  border-top-left-radius: 65px;
}
